.main {
  position: absolute;
  top: 60px;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #e4e8f1;
  padding: 10px;
}

.leftSec {
  background-color: #f5f6fa;
  position: absolute;
  top: 5px;
  bottom: 0;
  right: 405px;
  left: 0;
  overflow-y: auto;
}

.rightSec {
  background-color: #f5f6fa;
  padding-right: 10px;
  position: absolute;
  top: 5px;
  bottom: 0;
  width: 400px;
  right: 0;
  overflow-y: auto;
}

.grid-title-bar {
  border: none;
  background-color: transparent !important;
  height: 50px;
  line-height: 50px;
}

.grid-title-bar2 {
  border: none;
  background-color: transparent !important;
  height: 20px;
  line-height: 20px;
  text-indent: 20px;
}

#toggleViewStyle {
  margin-left: 32px;
  padding-left: 15px;
}

#toggleViewStyle > img {
  cursor: pointer;
  width: 24px;
  height: 24px;
  vertical-align: bottom;
}

#toggleViewStyle.list > .tgList {
  background-color: #fbb;
}

#toggleViewStyle.thumb > .tgThumb {
  background-color: #fbb;
}

#divList {
  /*position: absolute;
	top: 65px;
	bottom: 0;
	width: 100%;
	overflow-y: auto;*/
}

#divList > h1 {
  padding-left: 0.6em;
}

#divList li {
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.3s;
}

#divList > .ulList {
  margin-left: 0.6em;
}

#divList > .ulList .icon-heart {
  position: relative;
  left: 60px;
  width: 30px;
  top: -25px;
  cursor: default;
}

#divList > .ulNewList > li {
  display: block;
  position: relative;
  width: auto;
  height: auto;
  text-align: left;
  margin: 0;
  padding: 0 1em;
  margin-bottom: 1px;
  max-width: 100%;
  line-height: 3;
  cursor: default;
  box-shadow: none;
  background-repeat: no-repeat;
  background-position: 2px 4px;
  background-size: 16px 16px;
  background-image: none;
}

#divList > .ulNewList > li:nth-of-type(odd) {
  background-color: #eef0f4;
}

#divList > .ulNewList > li > .imgHold {
  visibility: hidden;
  display: inline-block;
  width: 8px;
  height: 1em;
}

#divList > .ulNewList > li > .imgHold.s0 {
  display: none;
}

#divList > .ulNewList > li > .ico-add {
  float: right;
  display: block;
  width: 22px;
  height: 22px;
  cursor: pointer;
  margin: 6px 6px 0;
}

#divList > .ulNewList > li > .icon-heart {
  float: right;
  margin-top: 6px;
  width: 22px;
}

#slippyList > li {
  display: block;
  position: relative;
  margin: 0;
  padding: 0 1em;
  margin-bottom: 1px;
  max-width: 100%;
  line-height: 3;
  word-wrap: none;
  white-space: nowrap;
  text-overflow: ellipsis;
  cursor: default;
  /* & :hover {
			background-color: #f5dad9;
		} */
}

#slippyList > li.slip-reordering {
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.45);
  border: 1px dashed #aaa !important;
  background-color: #fff;
}

#slippyList > li .ico-remove {
  display: inline-block;
  width: 15px;
  height: 15px;
  text-align: center;
  cursor: pointer;
  font-size: 22px;
  color: #fff;
  background-color: #ff3d36;
  border-radius: 100px;
  line-height: 12px;
  vertical-align: middle;
}

#slippyList > li .ico-handle {
  float: right;
  font-size: 22px;
  color: #ccc;
}

#iptKeyword {
  width: 200px;
}

/*# sourceMappingURL=2019style.css.map?__=1552033897847 */