$red : #d71711;

$border-color: #d0d0d0;
$border-color-hover: #F7BBBA;
$border-color-active: #e51914;

$title-bar-color: #ecf0f1;
$footer-bar-color: #f2f2f2;

$panel-body-bg: #fff;
$head-text-color: #555;

$topbar-bg: #c7140d;
$sidebar-bg: #222;

