// px转em
@function p2m($px, $base: 75) {
	@return ($px / $base) * 1rem;
}

@mixin shadow($alpha:0.3 , $dist:10px) {
	box-shadow: 0 0 $dist 0 rgba(0, 0, 0, $alpha);
}

@mixin lineClip($lines:3) {
	display: -webkit-box; /** 对象作为伸缩盒子模型显示 **/
	-webkit-box-orient: vertical; /** 设置或检索伸缩盒对象的子元素的排列方式 **/
	-webkit-line-clamp: $lines; /** 显示的行数 **/
	overflow: hidden; /** 隐藏超出的内容 **/
}

@mixin centered($w , $h) {
	position: fixed;
	width: p2m($w);
	height: p2m($h);
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}