<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<!--<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">-->
	<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1"/>
	<meta name="renderer" content="webkit">
	<title>ITB</title>
	    <link rel="stylesheet" href="/itb-dist/pc/css/ams.css?__=ceb953d" />
    <link rel="stylesheet" href="/itb-dist/pc/pages/itb/schedule/assets/schedule.css?__=de480a0" />
	
</head>
<body>


<div id="divSec">

</div>



<script id="tpl" type="text/html">

	<table id="tbSchedule">
		<thead>
		<tr>
			<td><%=year%></td>
			<% for(var i=0,l=dayArr.length,d; i< l , d = dayArr[i]; i++) { %>
			<td>
				<span class="x">Day <%=(1+i)%></span>
				<time>
					<span class="d"><%=$imports.dateFormat(d.date , 'yyyy.MM.dd')%></span>
					<span class="dt"><%= lng.dayOfWeek[d.date.getDay()] %></span>
				</time>

			</td>
			<% } %>
		</tr>
		</thead>
		<% for(var t in dayArr[0].time) { %>
			<% var it0 = dayArr[0].time[t] ; %>
			<% if(it0.usable) { %>
			<tbody class="mine">
			<tr>
				<td><%= t.split('-')[0] %> <%= ($imports.parseInt(t.split('-')[0] , 10)< 12 ? 'AM' : 'PM') %></td>
				<% for(var d = 0, p = 3 ; d< p  ; d++) { %>
				<% var timeSlot = dayArr[d].time[t] , acts= timeSlot.acts; %>
				<td class="<%= (timeSlot.isBusy?'gray':'') %>">
					<section>
					<% if(acts.length){ %>
						<% for(var z=0,y= acts.length,v; z< y , v = acts[z]; z++) { %>
							<% var cls = v.informationtype == 0? 'Meeting' : v.informationtype == 1? 'Activity': v.informationtype == 3 ? 'Appoint' : ''; %>
							<% cls = (v.type=='4' ? 'TempAppoint' : v.type=='3' ? 'Walk' : v.type=='0' ? 'AppointSpeed' : cls) %>
								<div class="<%=(v.isBusyDate?'busy':v.isAppoint?'pt':'mc')%> div<%=cls%> <%=v.accept==1?'':'gray'%>"
								    data-aid="<%=v.activity_id%>"
								    data-acid="<%=v.activitycontent_id%>"
								    data-key="<%=d%>/<%=t%>/<%=z%>"
								    data-search="?id=<%=v.id%>&end=<%=v.time%>&score=<%=v.score%>&typeCode=<%=v.informationtype%>">
								<% if(v.informationtype==0 || v.informationtype==1) { %>
									<%=v.title%>
								<% } else { %>
									<%=v.company%>
								<% }%>
							</div>
						<% } %>
					<% } %>

					<% if( timeSlot.showAddTo ) { %>
						<div class="divAddTo" data-date="<%=dateFormat(dayArr[d].date)%>" data-time="<%=t%>"> + Add To</div>
					<% } %>
					</section>
				</td>
				<% } %>
			</tr>
			</tbody>
			<% } else { %>
			<tbody class="rest">
			<tr>
				<td><%= t.split('-')[0] %></td>
				<td colspan="3" class="lunch">Lunch Time</td>
			</tr>
			</tbody>
			<% } %>
		<% } %>
	</table>


</script>
<p></p>



<div id="opgAjaxLoading">
	<div id="opgAjaxLoadingText">
		<div id="square-spin"></div>
		loading ...
	</div>
</div>

<script src="/itb-dist/pc/lib/mod.js?__=f81190f"></script>
<script src="/itb-dist/pc/lib/jquery-3.2.1.js?__=a5a8ab0"></script>
<script src="/itb-dist/pc/lib/jquery.resizableColumns.js?__=509717c"></script>
<script src="/itb-dist/pc/lib/jquery.pagination.js?__=2d8260c"></script>
<script src="/itb-dist/pc/js/jquery.plugins.js?__=b5a15b1"></script>
<script src="/itb-dist/pc/lib/template-web.js?__=b3777f7"></script>
<script src="/itb-dist/pc/pages/itb/schedule/index.i18n.js?__=c8927a7"></script>



<script type="text/javascript" src="/itb-dist/pc/js/opglib.js?__=1552033897847"></script>
<script type="text/javascript" src="/itb-dist/pc/pages/itb/schedule/schedule.js?__=7651471"></script>
<script type="text/javascript" src="/itb-dist/pc/pages/itb/schedule/index.js?__=a4364c5"></script>
<script src="/itb-dist/pc/lib/dialog-plus.js?__=e9750be"></script>
<script>
	!function () {
		var Languages = require('ts/util/Languages.ts').Languages;
		Languages.init(languagePkg, function (lngPackage) {
			var templateElem = document.getElementById('tpl-mainSection');
			var mainSection = document.getElementById('mainSection');
			if (mainSection && templateElem) {
				document.getElementById('mainSection').innerHTML = template('tpl-mainSection', lngPackage);
			}

			$('.templateContainer').each(function (index , elem) {
				var tmpl = $('script' , this).html();
				var render = template.compile(tmpl);
				elem.innerHTML = render(lngPackage);
			});
		});

		console.log('Languages:', Languages);

		require('pages/itb/schedule/index.ts');
	}();
</script>







</body>
</html>